<% @courses.each do |course| %>
  <div class="col-xs-12 col-sm-4 zoom">
    <%= link_to course_path(course.id) do %>
      <div class="card_index"
        <img class="card-img-top" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path(course.photo_url)%>)">
        <div class="card-category" ><p><%= course.category %></p></div>
      </div>
    <%end%>
    <div class="card-body">
      <div class="card-text" ><p><%= course.title %></p></div>
      <div class="card-text" ><p><%= course.time %></p></div>
      <div class="card-text" ><p>Difficulté: <%= course.difficulty %></p></div>
    </div>
  </div>
<%end%>


