<div class="container">
  <%= simple_form_for(@course, url: searchcourse_path) do |f| %>
    <%= f.input :difficulty %>
    <%= f.input :category %>
    <%= f.submit %>
  <% end %>

  <h3>Répondez aux questions et nous vous proposerons un choix de destination</h2>
  <h5>Que voulez-vous découvrir ?</h3>
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "calanques1.jpeg"%>');">
      <div class="card-category">Parcours</div>
        <div class="card-description">
          <h2> Les calanques</h2>
              <p>superbe territoire</p>
        </div>
      </div>
    </div>

  <div class="col-xs-12 col-sm-3">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "estaqueok.jpeg"%>');">
        <div class="card-category">Parcours</div>
          <div class="card-description">
            <h2>L'estaque</h2>
            <p>Endroit de charme</p>
          </div>
      </div>
  </div>
  <!-- eacht il y a des categories  on affiche une photo avec: un titre qui correspond -->
  <div class="col-xs-12 col-sm-3">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "vieuxportok.jpeg"%>');">
        <div class="card-category">Parcours</div>
          <div class="card-description">
            <h2>Le Vieux port</h2>
            <p>Le coeur de la ville</p>
          </div>
        </div>
      </div>
<!-- <img src="calanques.jpeg"> -->
 <div class="col-xs-12 col-sm-3">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "centrevillemars2.jpeg" %> ');">
        <div class="card-category">Parcours</div>
          <div class="card-description">
            <h2>Centre ville</h2>
            <p>Marseille ville du sud!</p>
          </div>
      </div>
  </div>
</div>
  <h3>Quel niveau de difficulté souhaitez vous pour la course?</h3>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
    <label class="form-check-label" for="defaultCheck1">
      Facile
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
    <label class="form-check-label" for="defaultCheck2">
     Moyen
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
    <label class="form-check-label" for="defaultCheck3">
     Difficile
    </label>
  </div>
  <h3>Combien de temps souhaitez vous courir? </h3>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
    <label class="form-check-label" for="defaultCheck1">
      Environ une demie-heure
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
    <label class="form-check-label" for="defaultCheck2">
     Environ une heure
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
    <label class="form-check-label" for="defaultCheck3">
     Environ une heure et demie
    </label>
  </div>
</div>

