<div class="container">

  <h5>Répondez aux questions et nous vous proposerons un choix de destination</h5>
  <h5>Que voulez-vous découvrir ?</h5>
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "calanques1.jpeg"%>');">
      <div class="card-category">Parcours</div>
        <div class="card-description">
          <h2> Les calanques</h2>
              <p>superbe territoire</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "estaqueok.jpeg"%>');">
        <div class="card-category">Parcours</div>
          <div class="card-description">
            <h2>L'estaque</h2>
            <p>Endroit de charme</p>
          </div>
      </div>
    </div>
    <!-- eacht il y a des categories  on affiche une photo avec: un titre qui correspond -->
    <div class="col-xs-12 col-sm-3">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "vieuxportok.jpeg"%>');">
        <div class="card-category">Parcours</div>
          <div class="card-description">
            <h2>Le Vieux port</h2>
            <p>Le coeur de la ville</p>
          </div>
        </div>
      </div>
    <!-- <img src="calanques.jpeg"> -->
    <div class="col-xs-12 col-sm-3">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "centrevillemars2.jpeg" %> ');">
        <div class="card-category">Parcours</div>
          <div class="card-description">
            <h2>Centre ville</h2>
            <p>Marseille ville du sud!</p>
          </div>
      </div>
    </div>
  </div>
  <%= simple_form_for(@course, url: searchcourse_path, method: :get) do |f| %>
   <h5>Quel lieu préférez-vous?</h5>
    <%= f.input :category, collection: Course.categories, input_html: { required: true } %>
    <h5>Quel niveau de difficulté souhaitez vous pour la course?</h5>
    <%= f.input :difficulty, collection: Course.difficulties, input_html: { required: true } %>
    <h5>Combien de temps souhaitez vous courir? </h5>
    <%= f.input :time, collection: Course.times, input_html: { required: true } %>
    <%= f.submit %>
  <% end %>
</div>


