<div class="container">
<div id="carousel-id" class="carousel slide" data-ride="carousel" data-interval="false">
  <ol class="carousel-indicators">
    <li data-target="#carousel-id" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-id" data-slide-to="1" class=""></li>
    <li data-target="#carousel-id" data-slide-to="2" class=""></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iIzc3NyI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjQ1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojN2E3YTdhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjU2cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+Rmlyc3Qgc2xpZGU8L3RleHQ+PC9zdmc+">
      <div class="container">
        <div class="carousel-caption">
            <h5>Répondez aux questions et nous vous proposerons un choix de destination</h5>
  <h5>Que voulez-vous découvrir ?</h5>
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <div class="card" id="0" style="background-image: url('<%= image_path "calanques1.jpeg"%>');">
      <div class="card-category">Parcours</div>
        <div class="card-description">
          <h2> Les calanques</h2>
              <p>superbe territoire</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="card" id="1" style="background-image: url('<%= image_path "estaqueok.jpeg"%>');">
        <div class="card-category">Parcours</div>
          <div class="card-description">
            <h2>L'estaque</h2>
            <p>Endroit de charme</p>
          </div>
      </div>
    </div>
    <!-- eacht il y a des categories  on affiche une photo avec: un titre qui correspond -->
    <div class="col-xs-12 col-sm-3">
      <div class="card" id="2" style="background-image: url('<%= image_path "vieuxportok.jpeg"%>');">
        <div class="card-category">Parcours</div>
          <div class="card-description">
            <h2>Le Vieux port</h2>
            <p>Le coeur de la ville</p>
          </div>
        </div>
      </div>
    <!-- <img src="calanques.jpeg"> -->
    <div class="col-xs-12 col-sm-3">
      <div class="card" id="3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "centrevillemars2.jpeg" %> ');">
        <div class="card-category">Parcours</div>
          <div class="card-description">
            <h2>Centre ville</h2>
            <p>Marseille ville du sud!</p>
          </div>
      </div>
    </div>
  </div>
  <%= simple_form_for(@course, url: searchcourse_path, method: :get) do |f| %>

   <div class="hidden">
    <%= f.input :category, as: :radio_buttons,
          collection: Course.categories %>
   </div>
        </div>
      </div>
    </div>
    <div class="item">
      <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iIzY2NiI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjQ1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojNmE2YTZhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjU2cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+U2Vjb25kIHNsaWRlPC90ZXh0Pjwvc3ZnPg==">
      <div class="container">
        <div class="carousel-caption">
          <h5>Quel niveau de difficulté souhaitez vous pour la course?</h5>
          <%= f.input :difficulty, collection: Course.difficulties, required: true  %>
        </div>
      </div>
    </div>
    <div class="item">
      <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Third slide" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iIzU1NSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjQ1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojNWE1YTVhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjU2cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+VGhpcmQgc2xpZGU8L3RleHQ+PC9zdmc+">
      <div class="container">
        <div class="carousel-caption">
          <h5>Combien de temps souhaitez vous courir? </h5>
          <%= f.input :time, collection: Course.times, required: true %>
          <%= f.submit %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var cards = document.querySelectorAll(".card");

    cards.forEach(function(card) {
      card.addEventListener("click", function() {
        //recuperer l'id de la carte
        var id = this.id;
        //cocher le radio button qui a cette id
        var radioId = `course_category_${id}`;
        var radio = document.getElementById(radioId);
        radio.checked = true;
        cards.forEach(function(card) {
          if (card.classList.contains("selected")) {
            card.classList.remove("selected");
          }
        });
        this.classList.add("selected");
        var step1 = document.querySelector("div > .active");
        step1.classList.remove("active");
        step1.nextElementSibling.classList.add("active");
      });
    });
    //selectionner la barre d'input
    var difficulties = document.getElementById("course_difficulty");
      difficulties.addEventListener("input", function () {
        var step2 = document.querySelector("div > .active");
        step2.classList.remove("active");
        step2.nextElementSibling.classList.add("active");
      });
    var times = document.getElementById("course_time")
      times.addEventListener("input", function () {
        var form = document.getElementById("new_course");
        form.submit()
      });
  });

</script>

