<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <h2>Répondez aux questions et nous vous proposerons un choix de destination</h2>
      <h4>Que voulez-vous découvrir ?</h4>
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <div class="card" id="0" style="background-image: url('<%= image_path "calanques1.jpeg"%>');">
          <div class="card-category">Parcours</div>
            <div class="card-description">
              <h2> Les calanques</h2>
                  <p>superbe territoire</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="card" id="1" style="background-image: url('<%= image_path "estaqueok.jpeg"%>');">
            <div class="card-category">Parcours</div>
              <div class="card-description">
                <h2>L'estaque</h2>
                <p>Endroit de charme</p>
              </div>
          </div>
        </div>
        <!-- eacht il y a des categories  on affiche une photo avec: un titre qui correspond -->
        <div class="col-xs-12 col-sm-3">
          <div class="card" id="2" style="background-image: url('<%= image_path "vieuxportok.jpeg"%>');">
            <div class="card-category">Parcours</div>
              <div class="card-description">
                <h2>Le Vieux port</h2>
                <p>Le coeur de la ville</p>
              </div>
            </div>
          </div>
        <!-- <img src="calanques.jpeg"> -->
        <div class="col-xs-12 col-sm-3">
          <div class="card" id="3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "centrevillemars2.jpeg" %> ');">
            <div class="card-category">Parcours</div>
              <div class="card-description">
                <h2>Centre ville</h2>
                <p>Marseille ville du sud!</p>
              </div>
          </div>
        </div>
      </div>

    </div>
    <div class="item">
      <%= simple_form_for(@course, url: searchcourse_path, method: :get) do |f| %>
        <div class="hidden">
          <%= f.input :category, as: :radio_buttons, collection: Course.categories %>
        </div>
        <h5>Quel niveau de difficulté souhaitez vous pour la course?</h5>
          <%= f.input :difficulty, collection: Course.difficulties, required: true  %>

    </div>
    <div class="item">
      <h5>Combien de temps souhaitez vous courir? </h5>
        <%= f.input :time, collection: Course.times, required: true %>
      <% end %>

    </div>

  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {

    var cards = document.querySelectorAll(".card");

    cards.forEach(function(card) {
      card.addEventListener("click", function() {
        //recuperer l'id de la carte
        var id = this.id;
        //cocher le radio button qui a cette id
        var radioId = `course_category_${id}`;
        var radio = document.getElementById(radioId);
        radio.checked = true;
        cards.forEach(function(card) {
          if (card.classList.contains("selected")) {
            card.classList.remove("selected");
          }
        });
        this.classList.add("selected");
        var step1 = document.querySelector("div > .active");
        step1.classList.remove("active");
        step1.nextElementSibling.classList.add("active");
      });
    });
    //selectionner la barre d'input
    var difficulties = document.getElementById("course_difficulty");
      difficulties.addEventListener("input", function () {
        var step2 = document.querySelector("div > .active");
        step2.classList.remove("active");
        step2.nextElementSibling.classList.add("active");
      });
    var times = document.getElementById("course_time")
      times.addEventListener("input", function () {
        var form = document.getElementById("new_course");
        form.submit()
      });
  });

</script>
