
<div class="container">
  <h1 class= "white" ><%= @course.title %>  </h1>
   <div class="col-xs-12">
      <div class="row">
       <div id="map" style="width: 100%;
       height: 350px;"
       data-markers="<%= @markers.to_json %>"
       data-path="<%= @path.to_json %>"
       data-start="<%= @start.to_json %>"
       data-end="<%= @end.to_json %>">
     </div>
   </div>
  </div>

  <div class="row">
    <div class="col-xs-7">
      <div class="description mb+">
        <h2> Description du parcours </h2>
        <%= @course.description %>
      </div>
      <div class ="row">
        <div class="col-xs-12">
          <div class="block mb">
            <h4> Avis des deux derniers runners : </h4>

              <% two_reviews = @reviews.last(2) %>
              <% array_reviews = [] %>
              <% array_reviews << two_reviews %>
              <% array_reviews = array_reviews.flatten %>
              <% array_reviews.each do |review| %>
              <ul class="list-unstyled">
                <li><%=  review.content  %></li>
                <p>

                  <!-- <span class="fa fa-star star-color"></span>
                  <span class="fa fa-star star-color"></span>
                  <span class="fa fa-star star-color"></span>
                  <span class="fa fa-star star-color"></span>
 -->
                  <%=  review.note  %>/10 - <%= review.user.pseudo%></p>
              </ul>
              <%end%>

              <a class="btn btn-primary" data-toggle="modal" href='#modal-id'>Tous les avis</a>

              <%= link_to "Donne ton avis", new_course_review_path(@course) %>

             </div>
        </div>

      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="block mb">
            <h6> La moyenne de nos usagés pour ce parcours : </h6>
            <ul>
              <li>Note moyenne selon nos utilisateurs : <%= @average_notes %></li>
              <li>Difficultés ressenties par nos usagés : <%= @average_difficulties %></li>
              <li>Temps moyen mis par nos sportifs : <%= @average_times %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-5">

        <%= image_tag(@course.photo_url, :class => "mt+ img-fullwidth mb+") %>

        <div class="block mb">
           <h5> Descriptifs de la courses : </h5>
          <ul>
          <li>Difficulté : <%= @course.difficulty %> </li>
          <li>Catégorie : <%= @course.category %> </li>
          <li>Distance : <%= @course.distance %>km</li>
          <li>Calories : <%= @course.calories %></li>
          </ul>
        </div>

    </div>



</div>




<div class="row">
  <% @steps.each do |step| %>
    <div class="col-xs-12 col-sm-3 mb+">
      <div class="card" style="background-image: url('<%= step.medias.first.url %>');">
      <p> Photo de la step n°<%=  step.step_num %> </p>
      </div>
      <div class="card">
        <div class="embed-responsive embed-responsive-4by3">
          <iframe
            width="245"
            height="175"
            class="embed-responsive-item"
            src="<%= step.medias.video.first.url %>"
            frameborder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen>
        </iframe>
        </div>
      </div>
    </div>
  <% end %>
</div>



</div>


<div class="modal fade" id="modal-id">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Tous les avis disponibles :</h4>
      </div>
      <div class="modal-body">
          <% @reviews.each do |review| %>
          <ul class="list-unstyled">
            <li><%=  review.content  %></li> <img src="<%= cl_image_path current_user.profile_picture%>", style="width:50px; height:50px; border-radius: 50%" %>


          <span class="fa fa-star star-color"></span>
              <span class="fa fa-star star-color"></span>
              <span class="fa fa-star star-color"></span>
              <span class="fa fa-star star-color"></span>

              <%= review.note %>/5 - par <b><%= review.user.pseudo%></p></b>

          <%end%>
            </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




