<div class="container">
  <h1><%= @course.title %>  </h1>
  <div class="row">
    <div
    id="map" style="width: 100%; height: 350px;"
    data-markers="<%= @markers.to_json %>">
  </div>
</div>

<div class="container"
  <div class ="row-1">
    <h2> Description du parcours </h2>
    <div class="description">
    <div class="col-xs-9">
      <%= @course.description %>
    </div>
    <div class="col-xs-3">
      <%= image_tag(@course.photo_url) %>
    </div>
  </div>
</div>

  <div class ="row-2">
  <% @reviews.each do |review| %>
  <ul>
    <li> review.content </li>
    <li> review.note </li>
  </ul>
  <%end%>
  </div>






<% @steps.each do |step| %>
<div class="col-xs-12 col-sm-4">
   <div class="card" >
  <%=  step.step_num %>
  </div>

  </div>
<% end %>









<div class="videos">
    <div class="video">
      <% step = @steps.find_by(step_num: 2)%>
      <%= video_tag(step.medias.last.url) %>
    </div>
      <div class="video">
      <% step = @steps.find_by("step_num = 3")%>
      <%= video_tag(step.medias.last.url) %>
    </div>

  </div>

</div>

