<div class="container">
  <h1><%= @course.title %>  </h1>
  <div class="row">
    <div
    id="map" style="width: 100%; height: 350px;"
    data-markers="<%= @markers.to_json %>">
  </div>
</div>

<div class="container"
  <div class ="row-1">
    <h2> Description du parcours </h2>
    <div class="description">
    <div class="col-xs-9">
      <%= @course.description %>
    </div>
    <div class="col-xs-3">
      <%= image_tag(@course.photo_url) %>
    </div>
  </div>
</div>

<div class ="row">
  <div class="col-xs-6">
    <h5> Voilà ce qu'en ont pensés nos runners : </h5>
  <% @reviews.each do |review| %>
  <ul>
    <li><%=  review.content  %></li>
   <p><%=  review.note  %>/10 - <%= review.user.email%></p>
  </ul>
  <%end%>
  <%= link_to "Note ton parcours", new_course_review_path(@course) %>
  <%= link_to "Voir tous les parcours", new_course_review_path(@course) %>
  </div>
  <div class="col-xs-6">
    <h5> Descriptifs de la courses : </h5>
    <ul>
    <li>Difficulté : <%= @course.difficulty %> </li>
    <li>Catégorie : <%= @course.category %> </li>
    <li>Distance : <%= @course.distance %></li>
    <li>Calorie : <%= @course.calories %></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12">
    <h6> La moyenne de nos usagés pour ce parcours : </h6>
    <ul>
      <li>Note moyenne selon nos utilisateurs : <%= @average_notes %></li>
      <li>Difficultés ressentie par nos usagés : <%= @average_difficulties %></li>
      <li>temps moyen mis par nos sportifs : <%= @average_times %></li>
    </ul>
  </div>

</div>

<div class="row">
  <% @steps.each do |step| %>
    <div class="col-xs-12 col-sm-3">
      <div class="card" style="background-image: url('<%= step.medias.first.url %>');">
      <p> photo step <%=  step.step_num %> </p>
      </div>
      <div class="card">
        <div class="embed-responsive embed-responsive-4by3">
          <iframe
            width="245"
            height="175"
            class="embed-responsive-item"
            src="<%= step.medias.video.first.url %>"
            frameborder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen>
        </iframe>
        </div>
      </div>
    </div>
  <% end %>
</div>




