<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 mb+">
      <h2>Ta review sur ton parcour</h2>
      <%= simple_form_for [@course, @review] do |f| %>
      <div class="form-inputs">
        <%= f.input :note %> <p> Note sur 10 </p>
        <%= f.input :content %>
        <%= f.input :lost_calories %>
        <%= f.input :felt_difficulties %>
        <%= f.input :time_spent %>
        <%= f.input :selfie, as: :file %>
        <%= f.submit "sauvegarde ta review" ,class: "btn btn-success"%>
      </div>
      <% end %>
    </div>
  </div>
</div>



